{% extends "base_dashboard.html" %}
{% load static %}
{% load custom_filters %}

{% block navactive1 %}dashboardactive {% endblock %}
{% block nav %}

<style>
  .position-relative {
    position: relative;
  }

  .placeholder-text {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #888;
    transition: 0.2s ease all;
    text-align: center;
    width: calc(100% - 20px);
  }

  input[type="date"]:focus+.placeholder-text,
  input[type="date"]:valid+.placeholder-text {
    display: none;
  }

  .date-input::-webkit-inner-spin-button,
  .date-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  .date-input {
    color: transparent;
  }

  .date-input:focus {
    color: black;
  }

  .date-input::placeholder {
    color: #888;
  }
</style>
<!-- Main Content -->
<div id="main-content" class="p-4">
  <!-- Button Container -->
  <div class="button-container">
    <form method="post" action="{% url 'dashboard' user_id user_type status_type %}" style="width: 100%;" id="filterForm">
      <ul class="nav nav-tabs">
        {% csrf_token %}

        <div class="me-2">
          {{form.search_term}}
        </div>

        <div class="me-2">
          <div class="input-group">
            <input name="start_date" type="text" id="start_date" class="form-control" placeholder="Start Date"
              onfocus="(this.type='date')" onblur="(this.type='text')"
              value="{% if form.start_date.value %}{{ form.start_date.value }}{% endif %}" / style="width: 120px;">
          </div>
        </div>
        <div class="me-2">
          <div class="input-group">
            <input name="end_date" type="text" id="end_date" class="form-control" placeholder="End Date"
              onfocus="(this.type='date')" onblur="(this.type='text')"
              value="{% if form.end_date.value %}{{ form.end_date.value }}{% endif %}" / style="width: 120px;">
          </div>
        </div>
     
        <div class="dropdown">
          <!-- Button that displays the active status -->
          <button class="btn btn-outline-primary dropdown-toggle mb-2 me-4" type="button" id="requestDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.path|last_segment == 'all_request' %}
              Total Requests-{{all_request_count}}
            {% elif request.path|last_segment == 'in_progress' %}
              Pending Requests-{{in_progress_count}}
            {% elif request.path|last_segment == 'completed' %}
            Completed-{{completed_count}}
            {% elif request.path|last_segment == 'empty' %}
            Empty-{{empty_count}}
            {% elif request.path|last_segment == 'cancelled' %}
            Cancelled-{{cancelled_count}}
            {% else %}
              Request Status
            {% endif %}
          </button>
          
          <!-- Dropdown menu items -->
          <ul class="dropdown-menu" aria-labelledby="requestDropdown">
            <li>
              <a class="dropdown-item {% if request.path|last_segment == 'all_request' %}active{% endif %}" 
                 href="{% url 'dashboard' user_id=user_id user_type=user_type status_type='all_request' %}">
                Total Requests
              </a>
            </li>
            <li>
              <a class="dropdown-item {% if request.path|last_segment == 'in_progress' %}active{% endif %}" 
                 href="{% url 'dashboard' user_id=user_id user_type=user_type status_type='in_progress' %}">
                 Pending Requests
              </a>
            </li>
            <li>
              <a class="dropdown-item {% if request.path|last_segment == 'completed' %}active{% endif %}" 
                 href="{% url 'dashboard' user_id=user_id user_type=user_type status_type='completed' %}">
                 Completed
              </a>
            </li>
            <li>
              <a class="dropdown-item {% if request.path|last_segment == 'empty' %}active{% endif %}" 
                 href="{% url 'dashboard' user_id=user_id user_type=user_type status_type='empty' %}">
                 Empty
              </a>
            </li>
            <li>
              <a class="dropdown-item {% if request.path|last_segment == 'cancelled' %}active{% endif %}" 
                 href="{% url 'dashboard' user_id=user_id user_type=user_type status_type='cancelled' %}">
                 Cancelled
              </a>
            </li>
            <!-- Add more dropdown items as needed -->
          </ul>
        </div>
        
        
        {% if not request.user.is_superuser %}
        <a href="{% url 'client_dashboard' %}"
          class="btn btn-outline-primary {% if request.path == 'client/service-dashboard' %}active{% endif %} mb-2 me-4">Task</a>
        <a href="{% url 'dashboard' user_id=request.user.id user_type='all' status_type='my_works' %}"
          class="btn btn-outline-primary {% if request.path|last_segment == 'my_works' %}active{% endif %} mb-2 me-4">My
          Task</a>
        {% endif %}

        <a href="{% url 'client_complaints' %}" class="btn btn-outline-primary mb-2 me-4">Complaints</a>

        <a href="{% url 'dashboard' user_id=user_id user_type=user_type status_type='piechart_dashboard' %}" class="btn btn-outline-primary {% if request.path|last_segment == 'piechart_dashboard' %}active{% endif %}  mb-2 me-4">
          <i class="fas fa-chart-pie me-1"></i> Piechart View
        </a>

      </ul>
    </form>
  </div>
  {% endblock %}

  {% block content %}
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-12">
        <div class="table-responsive">
          <table class="table request-table">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Request No.</th>
                <th>Request Service</th>
                <th>Requested Date</th>
                <th>Status</th>
                <th>Assigned To Employee</th>
                <th>Date of Completion</th>
                <th>My Folder</th>
              </tr>
            </thead>
            <tbody>
              {% for obj in object_list %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>
                  <a href="{% url 'admin-request-detail' obj.request_number %}">
                    <span class="req-number">{{ obj.request_number }}</span>
                  </a>
                </td>

                <td>
                  {% for subservice in obj.sub_services.all %}
                  {{ subservice }}{% if not forloop.last %}, {% endif %}
                  {% endfor %}
                </td>
                <td>{{ obj.request_date }}</td>
                <td><span
                    class="badge badge-light-{% if obj.status == 'in_progress' %}warning {% endif %}{% if obj.status == 'empty' %}empty {% endif %}{% if obj.status == 'completed' %}success {% endif %}{% if obj.status == 'cancelled' %}cancelled {% endif %} req-status">{{obj.get_status_display}}</span></td>
                <td>{% if obj.assigned_to_employee %}{{ obj.assigned_to_employee }}{% else %}Wait .. {% endif %}</td>
                <td>{% if obj.date_of_completion %}{{obj.date_of_completion|date:"Y-m-d"}}{% else %}Wait .. {% endif %}
                </td>
                <td><a href="{% url 'file' obj.service_request.first.pk obj.service_request.first.slug %}"><button
                      class="btn-folder">Folder</button></a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="dt--bottom-section d-sm-flex justify-content-sm-between text-center">
      <div class="dt--pages-count mb-sm-0 mb-3">
        <div class="dataTables_info" id="show-hide-col_info" role="status" aria-live="polite">
          Showing page {{ page_obj.number }} of {{ paginator.num_pages }}
        </div>
      </div>

      <div class="dt--pagination">
        <div class="dataTables_paginate paging_simple_numbers">
          <ul class="pagination">
            {% if is_paginated %}
            <!-- Previous Page -->
            {% if page_obj.has_previous %}
            <li class="paginate_button page-item previous">
              <a href="?page={{ page_obj.previous_page_number }}" class="page-link" aria-controls="show-hide-col">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-arrow-left">
                  <line x1="19" y1="12" x2="5" y2="12"></line>
                  <polyline points="12 19 5 12 12 5"></polyline>
                </svg>
              </a>
            </li>
            {% else %}
            <li class="paginate_button page-item previous disabled">
              <a class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-arrow-left">
                  <line x1="19" y1="12" x2="5" y2="12"></line>
                  <polyline points="12 19 5 12 12 5"></polyline>
                </svg></a>
            </li>
            {% endif %}

            <!-- Page Numbers -->
            {% for num in paginator.page_range %}
            <li class="paginate_button page-item {% if page_obj.number == num %}active{% endif %}">
              <a href="?page={{ num }}" class="page-link">{{ num }}</a>
            </li>
            {% endfor %}

            <!-- Next Page -->
            {% if page_obj.has_next %}
            <li class="paginate_button page-item next">
              <a href="?page={{ page_obj.next_page_number }}" class="page-link">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-arrow-right">
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline>
                </svg>
              </a>
            </li>
            {% else %}
            <li class="paginate_button page-item next disabled">
              <a class="page-link"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-arrow-right">
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                  <polyline points="12 5 19 12 12 19"></polyline>
                </svg></a>
            </li>
            {% endif %}
            {% endif %}
          </ul>
        </div>
      </div>


    </div>

    <script>
      document.querySelectorAll('.date-input').forEach(input => {
        input.addEventListener('focus', function () {
          this.style.color = 'black'; // Change text color on focus
        });
        input.addEventListener('blur', function () {
          if (!this.value) {
            this.style.color = 'transparent'; // Hide text if no value
          }
        });
      });
    </script>

    <script>
      const placeholderText = "Enter request number, Request Service, or Assigned To Employee";
      const inputField = document.getElementById("id_admin_search_term");

      function slidePlaceholder(text) {
        let displayText = text;
        let ticker = setInterval(() => {
          displayText = displayText.substring(1) + displayText[0]; 
          inputField.setAttribute("placeholder", displayText);
        }, 200); // Adjust speed here if needed

        inputField.addEventListener("focus", () => clearInterval(ticker)); // Stop when input is focused
        inputField.addEventListener("blur", () => slidePlaceholder(placeholderText)); // Resume when focus is lost
      }

      // Start the sliding effect on page load
      slidePlaceholder(placeholderText);
    </script>
    <script>
      const filterForm = document.getElementById('filterForm');
      document.querySelectorAll('#filterForm input').forEach(input => {
        input.addEventListener('change', () => {
          filterForm.submit();
        });
      });
    </script>

    {% endblock %}