{% extends "base_dashboard.html" %}
{% load static %}


{% block content %}
<div id="main-content" class="p-4">
<div class="card">

<section class="section profile">
    <div class="row">
      <div class="col-xl-4">
        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            {% if object.profile_pic %}
            <img src="{{object.profile_pic.url}}" alt="Profile" class="rounded-circle" style="height: 120px; width: 120px;">
            {% else %}
            <i class="fa-solid fa-user-tie" style="font-size: 135px;"></i>
            {% endif %}
            <h2>{{object.get_full_name}}</h2>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

              <li class="nav-item" role="presentation">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Overview</button>
              </li>

              <li class="nav-item" role="presentation">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit" aria-selected="false" role="tab" tabindex="-1">Edit Profile</button>
              </li>

              <li class="nav-item active" role="presentation">
                <a href="{% url 'change_password' %}" class="nav-link">
                    Change Password
                </a>
            </li>
            
            

            </ul>

            {% if messages %}
            <div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


            <div class="tab-content pt-2">
              <div class="tab-pane fade profile-overview active show" id="profile-overview" role="tabpanel">
                <h5 class="card-title">Profile Details</h5>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{object.get_full_name}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{object.country_code}}-{{object.mobile}}</div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{object.email}}</div>
                </div>
              </div>

              <div class="tab-pane fade profile-edit pt-3" id="profile-edit" role="tabpanel">

                <!-- Profile Edit Form -->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form.profile_pic }}
                            <!-- <div class="pt-2">
                                <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                                <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                            </div> -->
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <label for="first_name" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form.first_name }}
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <label for="last_name" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form.last_name }}
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form.about }}
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form.address }}
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form.mobile }}
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                        <div class="col-md-8 col-lg-9">
                            {{ form.email }}
                        </div>
                    </div>

                
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
                <!-- End Profile Edit Form -->

              </div>

              <!-- Change Password Form -->
              <div class="tab-pane fade pt-3" id="profile-change-password" role="tabpanel">
                <form method="post" action="{% url 'change_password' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="currentPassword" class="form-label">Current Password</label>
                        <input name="current_password" type="password" class="form-control" id="currentPassword" required>
                    </div>
        
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Password</label>
                        <input name="new_password" type="password" class="form-control" id="newPassword" required>
                    </div>
        
                    <div class="mb-3">
                        <label for="renewPassword" class="form-label">Re-enter New Password</label>
                        <input name="renew_password" type="password" class="form-control" id="renewPassword" required>
                    </div>
        
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </form>
              
              </div> 
<!-- End Change Password Form -->
            </div>

          </div>
        </div>

      </div>
    </div>
</section>
</div>
</div>



{% endblock %}